html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
  font-family: "Bebas Neue", cursive;
}

// Interface
.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

// Times
.timeContainer {
  top: 2.5%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bestTime {
  color: mediumpurple;
  font-size: 4vh;
  text-align: center;
}

.time {
  width: 100%;
  color: white;
  font-size: 6vh;
  background-color: #00000033;
  text-align: center;
  padding-top: 1rem;
}

// End Menu
.endMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-direction: column;
}

.restart {
  color: white;
  font-size: 8vh;
  background-color: #00000033;
  text-align: center;
  padding-top: 1rem;
  padding-inline: 3rem;
  pointer-events: auto;
  cursor: pointer;
}

.new {
  color: white;
  font-size: 8vh;
  background-color: #00000033;
  text-align: center;
  padding-top: 1rem;
  padding-inline: 3rem;
  pointer-events: auto;
  cursor: pointer;
}

// Quick Menu

.quickMenu {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.quickNew {
  color: white;
  font-size: 5vh;
  background-color: #00000033;
  text-align: center;
  padding-top: 0.5rem;
  padding-inline: 1.5rem;
  pointer-events: auto;
  cursor: pointer;
}

.quickRestart {
  margin-top: 1rem;
  color: white;
  font-size: 5vh;
  background-color: #00000033;
  text-align: center;
  padding-top: 0.5rem;
  padding-inline: 1.5rem;
  pointer-events: auto;
  cursor: pointer;
}

// Info
.info {
  position: absolute;
  max-width: calc((3rem) * 3 + 1.25rem);
  bottom: 1rem;
  left: 1rem;
  font-size: 3vh;
  background-color: #00000033;
  color: white;
  padding: 1rem;
}

.objective2 {
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.controlsRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.key {
  width: 3rem;
  height: 3rem;
  border: 1px solid white;
}

.spaceKey {
  width: calc((3rem) * 3 + 1.25rem);
  height: 3rem;
  border: 1px solid white;
}

// Commons
.boldFont {
  text-decoration: underline;
}
